.login-form {
    width: 300px;
    margin: 0 auto;
  
    form {
      display: flex;
      flex-direction: column;
  
      label {
        margin-bottom: 5px;
        font-weight: bold;
      }
  
      .password-container {
        position: relative;
  
        input {
          padding: 8px;
          margin-bottom: 10px;
          border-radius: 5px;
          border: 1px solid #ccc;
          width: calc(100% - 75px); // Adjust according to button width
        }
  
        button {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          padding: 6px 10px;
          background-color: #f0f0f0;
          border: none;
          border-radius: 0 5px 5px 0;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #ddd;
          }
        }
      }
  
      button[type="submit"] {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  